{% extends "templates/web.html" %} {% block breadcrumbs %} {% include "templates/includes/breadcrumbs.html" %} {%
endblock%}
{% block header %}

{% endblock %}

{% block page_content %}
<style>
    .myGrid {
        background: white;
        outline: 0;
        border: 1px solid gray;
    }

    .cell-effort-driven {
        text-align: center;
    }
    
</style>
<table>
    <tr>
        <td valign="top">
            <div>
                <h3>Customer Cashback Report</h3>
            </div>
            <hr />
            <div style="padding:6px;">
                <label>Company:</label>
                <select id="customer_companies" onchange="fill_grid()">
                </select>
                <label>Year:</label>
                <select id="filter_year" onchange="fill_grid()">
                </select>
                <label style="float:right;"><a href="/me"> ☚ Back to Main Portal</a></label>
                <button style="float:right;" id="download">Download CSV</button>
                <br /><br />
                <div id="myGrid" style="width:1090px" class="my-grid"></div>
            </div>
        </td>
    </tr>
</table>

<script>
    var csv_data = [];

    function to_csv(data) {
        var res = [];
        $.each(data, function (i, row) {
            row = $.map(row, function (col) {
                if (col === null || col === undefined) col = '';
                return typeof col === "string" ? ('"' + $('<i>').html(col.replace(/"/g, '""')).text() +
                    '"') : col;
            });
            res.push(row.join(","));
        });
        return res.join("\n");
    };

    function formatter(row, cell, value, columnDef, dataContext) {
        return value;
    }

    function fill_grid() {
        var customer_companies = document.getElementById("customer_companies").value;
        var filter_year = document.getElementById("filter_year").value;
        frappe.call({
            method: "empowery_co_op.customer_cashback_report.execute",
            args: {
                useremail: frappe.session.user,
                customer_company: customer_companies,
                filter_year: filter_year
            },
            callback: function (rdata) {
                if (rdata.message != undefined) {
                    data = rdata.message
                    for (var i = 0; i < data.length; i++) {
                        if (data[i][0]!=undefined){
                           if (data[i][0]!='Cashback Grand Total') {
                            data[i] = {
                            num: i + 1,
                            Customer: data[i][0],
                            Grand_Total_Cashback: data[i][1],
                            Month_Year: data[i][2],
                        };
                           } else{
                            data[i] = {
                            num: undefined,
                            Customer: data[i][0],
                            Grand_Total_Cashback: data[i][1],
                            Month_Year: data[i][2],
                        }; 
                           }
}
                    }
                    grid = new Slick.Grid("#myGrid", data, columns, options);
                    var headers = " #, Customer, Cashback Total, Month & Year \n";
                    csv_data = headers + to_csv(data);
                } else {
                    frappe.msgprint("Logged in user is not a valid empowery customer")
                }
            }
        });
    }

    function get_company_list() {
        frappe.call({
            method: 'empowery_co_op.customer_cashback_report.get_session_customer',
            args: {
                useremail: frappe.session.user
            },
            callback: function (r) {
                if (r.message) {
                    data = r.message
                    var selectBox = document.getElementById('customer_companies');
                    for (var i = 0, l = data.length; i < l; i++) {
                        var option = data[i];
                        if (i == 0) {
                            option.selected = 1
                        } else {
                            option.selected = 0
                        }
                        selectBox.options.add(new Option(option.customer, option.customer, option.selected));
                    }
                    if (data.length == 1) {
                        selectBox.disabled = true
                    }
                }
            }
        });
    }

    function get_filter_year() {
        frappe.call({
            method: 'empowery_co_op.customer_cashback_report.get_filter_year',
            args: {},
            callback: function (r) {
                if (r.message) {
                    data = r.message
                    var selectBox = document.getElementById('filter_year');
                    for (var i = 0, l = data.length; i < l; i++) {
                        var option = data[i];
                        if (i == 0) {
                            option.selected = 1
                        } else {
                            option.selected = 0
                        }
                        selectBox.options.add(new Option(option.year, option.year, option.selected));
                    }
                    if (data.length == 1) {
                        selectBox.disabled = true
                    }
                }
            }
        });
    }


    var grid;
    var columns = [{
            id: "sel",
            name: "#",
            field: "num",
            width: 40
        },
        {
            id: "Customer",
            name: "Customer",
            width: 200,
            minWidth: 200,
            maxWidth: 300,
            field: "Customer"
        },
        {
            id: "Grand_Total_Cashback",
            name: "Cashback Total",
            field: "Grand_Total_Cashback",
            width: 200,
            minWidth: 200,
            maxWidth: 300
        },
        {
            id: "Month_Year",
            name: "Month & Year",
            field: "Month_Year",
            width: 200,
            minWidth: 200,
            maxWidth: 300
        }
    ];

    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        autoHeight: true
    };
    var data = [];


    frappe.ready(function () {



        var customer_companies = document.getElementById("customer_companies").value;
        if (customer_companies == '') {
            get_company_list();
        }

        var filter_year = document.getElementById("filter_year").value;
        if (filter_year == '') {
            get_filter_year();
        }

        fill_grid();

        $("#download").click(function () {
            window.open("data:text/csv;charset=utf-8," + escape(csv_data))
        });
    });
</script>
{% endblock %}