{% extends "templates/web.html" %} {% block breadcrumbs %} {% include "templates/includes/breadcrumbs.html" %} {% endblock%} 
{% block header %}{% endblock %} {% block page_content %}
<style>
    .myGrid {
        background: white;
        outline: 0;
        border: 1px solid gray;
    }
    .cell-effort-driven {
        text-align: center;
    }
</style>    
<table >
    <tr><td valign="top" >
        <div><h3>My Linked Supplier</h3></div>
        <hr/>
            <div style="padding:6px;">
                <label>My Company:</label>
                <select id="customer_companies" onchange="fill_grid()" >
                </select>
                <label style="float:right;"><a href="/me"> ☚ Back to Main Portal</a></label>
                <br/><br/>
                <div id="myGrid" style="width:1090px" class="my-grid"></div>
            </div>
        </td>
    </tr>
</table>

<script>
function formatter(row, cell, value, columnDef, dataContext) {return value; }
function CheckmarkFormatter(row, cell, value, columnDef, dataContext) {return value ? "<img src='tick.png'>" : '<i class="octicon octicon-x"></i>';}
function fill_grid(){
    var customer_companies = document.getElementById("customer_companies").value;
    frappe.call({
                    method: "empowery_co_op.linked_supplier.execute",
                    args: {
                        useremail: frappe.session.user,
                        customer_company:customer_companies
                    },
                    callback: function (rdata) {
                        if (rdata.message != undefined){
                            data=rdata.message
                            for (var i = 0; i < data.length; i++) {
                                data[i] = {
                                    num : i+1,
                                    supplier: data[i][0],
                                    contact_detail: data[i][1],
                                    linked: data[i][2],
                                    action: data[i][3]
                                };}      
                             grid = new Slick.Grid("#myGrid", data, columns, options); }
                        else{frappe.msgprint("Logged in user is not a valid empowery customer")}
                    }});
}
function get_company_list(){
          frappe.call({
              method:'empowery_co_op.linked_supplier.get_session_customer',
              args:{useremail:frappe.session.user},
              callback: function(r) {
							if(r.message) {
                                data=r.message
                                var selectBox = document.getElementById('customer_companies');
                                for(var i = 0, l = data.length; i < l; i++){
                                    var option = data[i];
                                    if (i==0) {option.selected=1} else {option.selected=0}
                                        selectBox.options.add( new Option(option.customer, option.customer, option.selected) );
                                }
                                if (data.length==1) {selectBox.disabled = true}
                            }}});}
var grid;
var columns = [
        {id: "sel", name: "#", field: "num",  width: 40},
        { id: "supplier", name: "Supplier", width: 200, minWidth: 200, maxWidth: 300, field: "supplier" },
        { id: "contact_detail", width: 700, minWidth: 700, maxWidth: 750, name: "Contact Detail", field: "contact_detail" ,formatter: formatter},
        {id: "linked", width: 50, minWidth: 50, maxWidth: 80, name: "Linked", width: 80, minWidth: 20, maxWidth: 80, cssClass: "cell-effort-driven", field: "linked",formatter: CheckmarkFormatter},
        { id: "action", width: 70, minWidth: 70, maxWidth: 100,  name: "Action", field: "action",formatter: formatter } ];
    
var options = {
            enableCellNavigation: true,
            enableColumnReorder: false,
            autoHeight: true
        };
var data = [];

frappe.add_party_link = function (custname, suppname, isLinked) {
    
    var customer_companies = document.getElementById("customer_companies").value;
                frappe.call({
                    method: "empowery_co_op.linked_supplier.add_party_link",
                    args: {
                        custname: customer_companies,
                        suppname: suppname,
                        isLinked: isLinked
                    },
                    callback: function (data) {
                        document.getElementById("customer_companies").value=customer_companies;
                        fill_grid();
                    }})}
frappe.remove_party_link = function (custname, suppname) {
    var customer_companies = document.getElementById("customer_companies").value;
                frappe.call({
                    method: "empowery_co_op.linked_supplier.remove_party_link",
                    args: {
                        custname: customer_companies,
                        suppname: suppname
                    },
                    callback: function (data) {
                        document.getElementById("customer_companies").value=customer_companies;
                        fill_grid();
                    }})}

frappe.ready(function () {
            var customer_companies = document.getElementById("customer_companies").value;
            if (customer_companies==''){ get_company_list();}
            fill_grid();
                     });

</script>
{% endblock %}